@use "../mixins";
@use "../variables";


.btn {
  $block: &;

  width: 165px;
  height: 27px;
  border-radius: 27px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: variables.$font-family-primary;

  font-weight: 700;
  font-size: 13px;

  color: variables.$color-base;
  background: linear-gradient(#77C5FD, #0095FF);
  box-shadow: 1px 3px 10px 2px #77C5FD;

  @include mixins.mq(sm) {
    width: 247px;
    height: 40px;

    font-size: 19px;
  }

  @include mixins.mq(md) {
    width: 168px;
    height: 28px;
    border-radius: 20px;

    font-size: 13px;
  }

  @include mixins.mq(lg) {
    width: 223px;
    height: 37px;
    border-radius: 27px;

    font-size: 17px;
  }

  @include mixins.mq(xl) {
    width: 279px;
    height: 45px;
    border-radius: 32px;

    font-size: 22px;
  }

  @include mixins.mq(xxl) {
    width: 418px;
    height: 68px;
    border-radius: 49px;

    font-size: 32px;
  }

  @include mixins.mq(k2) {
    width: 557px;
    height: 90px;
    border-radius: 66px;

    font-size: 43px;
  }

  &--card {
    $block: &;
    width: 100%;
    height: 106px;
    border-radius: 13px;
    padding: 9px;

    background: linear-gradient(to bottom, white, #207AE0);

    justify-content: left;

    @include mixins.mq(sm) {
      height: 158px;
      border-radius: 19px;
      padding: 13px;
    }

    @include mixins.mq(md) {
      height: 240px;
      border-radius: 29px;
      padding: 20px;
    }

    @include mixins.mq(lg) {
      height: 319px;
      border-radius: 39px;
      padding: 30px;
    }

    @include mixins.mq(xl) {
      height: 398px;
      border-radius: 49px;
      padding: 35px;
    }

    @include mixins.mq(xxl) {
      height: 597px;
      border-radius: 73px;
      padding: 55px;
    }

    @include mixins.mq(k2) {
      height: 796px;
      border-radius: 98px;
      padding: 80px;
    }

    &__h3 {
      font-size: 16px;
      text-align: start;

      @include mixins.mq(sm) {
        font-size: 24px;
      }

      @include mixins.mq(md) {
        font-size: 40px;
      }

      @include mixins.mq(lg) {
        font-size: 59px;
      }

      @include mixins.mq(xl) {
        font-size: 75px;
      }

      @include mixins.mq(xxl) {
        font-size: 111px;
      }

      @include mixins.mq(k2) {
        font-size: 149px;
      }
    }

    &__link {
      font-size: 6px;
      display: block;
      align-self: flex-end;
      margin-left: auto;

      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background: linear-gradient(to right, white, #207AE0);
      }

      @include mixins.mq(sm) {
        font-size: 10px;
      }

      @include mixins.mq(md) {
        font-size: 15px;
      }

      @include mixins.mq(lg) {
        font-size: 20px;
      }

      @include mixins.mq(xl) {
        font-size: 25px;
      }

      @include mixins.mq(xxl) {
        font-size: 35px;
      }

      @include mixins.mq(k2) {
        font-size: 40px;
      }
    }
  }
}