@use "../mixins";
@use "../variables";

.filter {
  $block: &;
  height: 11px;
  width: 100%;
  border: 1px solid #3CADFE;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  padding-inline: 3px;

  @include mixins.mq(sm) {
    height: 16px;
  }

  @include mixins.mq(md) {
    display: none;
  }

  &__h3 {
    font-size: 8px;
    font-family: variables.$font-family-primary;
    font-weight: 700;
  }

  // &__img {}

  &--color {
    background-color: #3CADFE;
    color: #ffffff;
  }

  // &--item {
  //   $block: &;

  //   @include mixins.mq(md) {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     background-color: #ADADAD;
  //     border: none;
  //     color: #ffffff;
  //     height: 13px;
  //   }




  //   &__circle {
  //     border: 1px solid #ffffff;
  //     background: #ffffff;
  //     width: 7px;
  //     height: 7px;
  //     border-radius: 50%;
  //   }
  // }
}