@use "../mixins";

.footer {
  $block: &;
  height: 140px;
  background: #F0F8FF;
  padding-inline: 16px;
  padding-block: 9px;

  position: relative;

  @include mixins.mq(sm) {
    height: 210px;
    padding-inline: 24px;
    padding-block: 14px;
  }

  @include mixins.mq(md) {
    height: 63px;
    padding-inline: 13px;
    padding-block: 30px;
  }

  @include mixins.mq(lg) {
    height: 83px;
    padding-inline: 13px;
    padding-block: 30px;
  }

  @include mixins.mq(xl) {
    height: 105px;
    padding-inline: 20px;
    padding-block: 50px;
  }

  @include mixins.mq(xxl) {
    height: 158px;
    padding-inline: 70px;
    padding-block: 35px;
  }

  @include mixins.mq(k2) {
    height: 210px;
    padding-inline: 100px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 7px;

    font-weight: 400;
    font-size: 7px;

    @include mixins.mq(sm) {
      gap: 10px;
      font-size: 10px;
    }

    @include mixins.mq(md) {
      gap: 4px;
      font-size: 8px;
      position: absolute;
      bottom: 13px;
      left: 30px;
    }

    @include mixins.mq(lg) {
      gap: 6px;
      font-size: 11px;
      bottom: 14px;
      left: 30px;
    }

    @include mixins.mq(xl) {
      font-size: 14px;
      bottom: 20px;
      left: 40px;
    }

    @include mixins.mq(xxl) {
      gap: 10px;
      font-size: 20px;
      bottom: 30px;
      left: 57px;
    }

    @include mixins.mq(k2) {
      gap: 14px;
      font-size: 27px;
      bottom: 40px;
      left: 105px;
    }
  }

  // &__title {}

  &__tel {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  &__mail {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  &__wraper {
    @include mixins.mq(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      position: absolute;
      right: 30px;
      top: 11px;
    }

    @include mixins.mq(lg) {
      top: 14px;
    }

    @include mixins.mq(xl) {
      top: 20px;
      right: 40px;
    }

    @include mixins.mq(xxl) {
      top: 30px;
      right: 50px;
    }

    @include mixins.mq(k2) {
      top: 40px;
      right: 90px;
    }
  }

  &__clue {
    display: none;

    @include mixins.mq(md) {
      display: block;
      font-weight: 600;
      font-size: 11px;
    }

    @include mixins.mq(lg) {
      font-size: 15px;
    }

    @include mixins.mq(xl) {
      font-size: 18px;
    }

    @include mixins.mq(xxl) {
      font-size: 27px;
    }

    @include mixins.mq(k2) {
      font-size: 35px;
    }
  }


  &__social-net {
    display: flex;
    flex-direction: row;
    gap: 3px;
    position: absolute;
    bottom: 10px;

    @include mixins.mq(sm) {
      gap: 4px;
      bottom: 14px;
    }

    @include mixins.mq(md) {
      bottom: none;
      position: relative;
    }
  }

  &__link {
    height: 21px;
    width: 21px;

    @include mixins.mq(sm) {
      height: 30px;
      width: 30px;
    }

    @include mixins.mq(lg) {
      height: 37px;
      width: 37px;
    }

    @include mixins.mq(xl) {
      height: 47px;
      width: 47px;
    }

    @include mixins.mq(xxl) {
      height: 69px;
      width: 69px;
    }

    @include mixins.mq(k2) {
      height: 92px;
      width: 92px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;

    @include mixins.mq(md) {
      display: none;
    }
  }

  &__img-desk {
    display: none;

    @include mixins.mq(md) {
      height: 100%;
      width: 100%;
      display: block;
    }
  }

  &__gerb {
    height: 50px;
    width: auto;
    position: absolute;
    bottom: 10px;
    left: 50%;
    // top: 50%;
    transform: translateX(-50%);

    @include mixins.mq(sm) {
      height: 75px;
      bottom: 14px;
    }

    @include mixins.mq(md) {
      height: 47px;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }

    @include mixins.mq(lg) {
      height: 62px;
    }

    @include mixins.mq(xl) {
      height: 78px;
    }

    @include mixins.mq(xxl) {
      height: 117px;
    }

    @include mixins.mq(k2) {
      height: 157px;
    }
  }
}