@use "../mixins";


.form-descktop {
  &__wap {
    padding-right: 400px;
    text-align: center;
    margin-bottom: 10px;

    @include mixins.mq(lg) {
      margin-bottom: 15px;
      padding-right: 500px;
    }

    @include mixins.mq(xl) {
      margin-bottom: 19px;
      padding-right: 660px;
    }

    @include mixins.mq(xxl) {
      margin-bottom: 28px;
      padding-right: 1010px;
    }

    @include mixins.mq(k2) {
      margin-bottom: 35px;
      padding-right: 1400px;
    }
  }

  // &__headlines {}

  // &__text {}

  // &__form-wap {}
}