@use "../mixins";
@use "../variables";


.form-text {
  $block: &;
  color: black;
  font-family: variables.$font-family-primary;
  font-size: 8px;
  font-weight: 700;

  @include mixins.mq(sm) {
    font-size: 12px;
  }

  @include mixins.mq(md) {
    font-size: 9px;
  }

  @include mixins.mq(lg) {
    font-size: 11px;
  }

  @include mixins.mq(xl) {
    font-size: 14px;
  }

  @include mixins.mq(xxl) {
    font-size: 20px;
  }

  @include mixins.mq(k2) {
    font-size: 27px;
  }

  &--desk {
    color: #404040;
    background: #D9D9D9;
    border: none;
    border-radius: 19px;
    height: 20px;
    width: 100%;
    padding-left: 12px;

    @include mixins.mq(sm) {
      border-radius: 27px;
      height: 31px;
      padding-left: 18px;
    }

    @include mixins.mq(md) {
      border-radius: 18px;
      height: 22px;
      padding-left: 13px;

      background: #F0F8FF;
    }

    @include mixins.mq(lg) {
      border-radius: 25px;
      height: 29px;
      padding-left: 17px;
    }

    @include mixins.mq(xl) {
      border-radius: 31px;
      height: 36px;
      padding-left: 22px;
    }

    @include mixins.mq(xxl) {
      border-radius: 47px;
      height: 55px;
      padding-left: 33px;
    }

    @include mixins.mq(k2) {
      border-radius: 62px;
      height: 73px;
      padding-left: 43px;
    }
  }

  &--big {
    height: 67px;
    padding-inline: 13px;
    padding-block: 6px;

    @include mixins.mq(sm) {
      height: 100px;
      padding-inline: 18px;
      padding-block: 12px;
    }

    @include mixins.mq(md) {
      height: 152px;
      padding-inline: 13px;
      padding-block: 13px;
    }

    @include mixins.mq(lg) {
      height: 203px;
      padding-inline: 17px;
    }

    @include mixins.mq(xl) {
      height: 254px;
      padding-inline: 22px;
    }

    @include mixins.mq(xxl) {
      height: 381px;
      padding-inline: 33px;
      padding-block: 25px;
    }

    @include mixins.mq(k2) {
      height: 508px;
      padding-inline: 43px;
      padding-block: 35px;
    }
  }

  &--holder {
    position: absolute;
    left: 13px;
    top: 20px;
    color: #404040;

    @include mixins.mq(sm) {
      left: 18px;
      top: 30px;
    }

    @include mixins.mq(md) {
      left: 13px;
      top: 28px;
    }

    @include mixins.mq(lg) {
      top: 34px;
      left: 17px;
    }

    @include mixins.mq(xl) {
      top: 40px;
      left: 22px;
    }

    @include mixins.mq(xxl) {
      top: 60px;
      left: 33px;
    }

    @include mixins.mq(k2) {
      top: 80px;
      left: 43px;
    }
  }
}