@import "../mixins";

.form {
  padding-inline: 12px;
  padding-top: 12px;

  display: flex;
  flex-direction: column;
  gap: 9px;

  height: 233px;
  width: 279px;
  border-radius: 18px;
  border: 1px solid #77C5FD;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px 2px #77C5FD;

  @include mq(sm) {
    padding-inline: 18px;
    padding-top: 30px;

    gap: 14px;

    height: 350px;
    width: 418px;
    border-radius: 27px;
    box-shadow: 0px 2px 6px 4px #77C5FD;
  }

  @include mq(md) {
    padding-inline: 13px;
    padding-top: 16px;

    gap: 10px;

    height: 333px;
    width: 292px;
    border-radius: 18px;
    border: 2px solid #77C5FD;
    box-shadow: 0px 2px 6px 2px #77C5FD;
  }

  // @include mq(lg) {
  //   font-size: 11px;
  // }

  // @include mq(xl) {
  //   font-size: 14px;
  // }

  // @include mq(xxl) {
  //   font-size: 20px;
  // }

  // @include mq(k2) {
  //   font-size: 27px;
  // }

  &__cont {
    position: relative;
  }

  &__form-text {
    margin-left: 8px;
    margin-bottom: 4px;

    @include mq(md) {
      margin-left: 14px;
    }
  }

  &__btn {
    margin: 0 auto;
  }
}