@import "../mixins";

.header {
  z-index: 1000;
  width: 100%;
  height: 40px;
  background: $color-base;
  position: fixed;
  top: 0;
  box-shadow: 0px 0.5px 10px #d8d6d6;
  padding-inline: 17px;


  @include mq(sm) {
    height: 60px;
  }

  @include mq(md) {
    padding-inline: 85px;
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  @include mq(lg) {
    padding-inline: 114px;
    height: 55px;
    gap: 106px;
  }

  @include mq(xl) {
    padding-inline: 142px;
    height: 68px;
    gap: 132px;
  }

  @include mq(xxl) {
    padding-inline: 213px;
    height: 103px;
    gap: 199px;
  }

  @include mq(k2) {
    padding-inline: 285px;
    height: 137px;
    gap: 266px;
  }

  &__img {
    width: 11px;
    height: 8px;
    margin-top: 10px;

    @include mq(sm) {
      width: 17px;
      height: 11px;
      margin-top: 23px;
    }

    @include mq(md) {
      display: none;
    }
  }

  &__burger-icon {
    width: 100%;
    height: 100%;
  }

  &__logo-wap {
    @include mq(md) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 7px;
    }

    @include mq(xxl) {
      gap: 23px;
    }
  }

  &__logo {
    width: 28px;
    height: 28px;
    background: #B5B5B5;
    border-radius: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mq(md) {
      position: relative;
      top: 0px;
      left: 0px;
      transform: none;
    }

    @include mq(xxl) {
      width: 57px;
      height: 57px;
      border-radius: 13px;
    }
  }

  &__logo-text {
    display: none;

    @include mq(md) {
      display: block;
      font-size: 13px;
      font-weight: 700;
    }

    @include mq(xxl) {
      font-size: 32px;
    }
  }

  &__nav {}
}

// .link {}

// .link--active {}