@use "../mixins";
@use "../variables";


.headlines {
  $block: &;
  font-size: 19px;
  font-family: variables.$font-family-primary;
  font-weight: 800;

  @include mixins.mq(sm) {
    font-size: 30px;
  }

  @include mixins.mq(md) {
    font-size: 25px;
  }

  @include mixins.mq(lg) {
    font-size: 35px;
  }

  @include mixins.mq(xl) {
    font-size: 43px;
  }

  @include mixins.mq(xxl) {
    font-size: 64px;
  }

  @include mixins.mq(k2) {
    font-size: 85px;
  }
}