@use "../mixins";

.map {
  $block: &;
  padding-inline: 30px;

  @include mixins.mq(sm) {
    padding-inline: 45px;
  }

  @include mixins.mq(md) {
    padding-inline: 84px;
  }

  @include mixins.mq(lg) {
    padding-inline: 120px;
  }

  @include mixins.mq(xl) {
    padding-inline: 148px;
  }

  @include mixins.mq(xxl) {
    padding-inline: 220px;
  }

  @include mixins.mq(k2) {
    padding-inline: 290px;
  }

  &__headlines {
    margin-bottom: 3px;

    @include mixins.mq(sm) {
      margin-bottom: 6px;
    }

    @include mixins.mq(lg) {
      margin-bottom: 8px;
    }

    @include mixins.mq(xl) {
      margin-bottom: 11px;
    }

    @include mixins.mq(xxl) {
      margin-bottom: 17px;
    }

    @include mixins.mq(k2) {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin-bottom: 11px;

    @include mixins.mq(sm) {
      margin-bottom: 20px;
    }

    @include mixins.mq(md) {
      margin-bottom: 48px;
    }

    @include mixins.mq(lg) {
      margin-bottom: 23px;
    }

    @include mixins.mq(xl) {
      margin-bottom: 29px;
    }

    @include mixins.mq(xxl) {
      margin-bottom: 45px;
    }

    @include mixins.mq(k2) {
      margin-bottom: 57px;
    }
  }

  &__wrap {
    height: 106px;
    width: 100%;
    border: 1px solid #77C5FD;
    box-shadow: 0px 2px 6px 1px #77C5FD;
    border-radius: 13px;
    overflow: hidden;
    margin: 0 auto;

    @include mixins.mq(sm) {
      height: 160px;
      border-radius: 20px;
    }

    @include mixins.mq(md) {
      height: 250px;
      border-radius: 29px;
    }

    @include mixins.mq(lg) {
      height: 223px;
      border-radius: 39px;
    }

    @include mixins.mq(xl) {
      height: 404px;
      border-radius: 49px;
    }

    @include mixins.mq(xl) {
      height: 607px;
      border-radius: 73px;
    }

    @include mixins.mq(k2) {
      height: 809px;
      border-radius: 73px;
    }
  }
}