@use "../mixins";


.nav {
  $block: &;
  display: none;

  @include mixins.mq(md) {
    display: block;
  }

  &__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;

    @include mixins.mq(lg) {
      gap: 30px;
    }

    @include mixins.mq(xl) {
      gap: 37px;
    }

    @include mixins.mq(xxl) {
      gap: 56px;
    }

    @include mixins.mq(k2) {
      gap: 75px;
    }

  }

  &__li {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 9px;
    color: black;

    @include mixins.mq(lg) {
      font-size: 11px;
    }

    @include mixins.mq(xl) {
      font-size: 13px;
    }

    @include mixins.mq(xxl) {
      font-size: 20px;
    }

    @include mixins.mq(k2) {
      font-size: 27px;
    }
  }
}