@use "../mixins";

.objects-wr {
  $block: &;

  &__headlines {
    margin-bottom: 4px;
    text-align: center;
  }

  &__text {
    text-align: center;
    margin-bottom: 12px;
  }

  &__filters {
    padding-right: 160px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 8px;
    margin-bottom: 11px;
  }

  // &__objects {}
}