@use "../mixins";
@use "../variables";

.object-news {
  &__swiper-wr {
    padding-inline: 58px;

    @include mixins.mq(sm) {
      padding-inline: 88px;
    }
  }

  &__info {
    margin-inline: 32px;
  }

  &__headlines {
    margin-bottom: 7px;
    font-size: 20px;
  }

  &__text {
    font-size: 8px;
  }
}