@import "../mixins";

.page {
  $block: &;
  display: flex;
  flex-direction: column;

  &__header {
    // margin-bottom: 60px;
    scroll-margin-top: 90px;
  }

  &__news {}

  &__objects-wr {
    padding-inline: 28px;
  }
}