@use "../mixins";

.page {
  $block: &;
  display: flex;
  flex-direction: column;

  &__header {
    scroll-margin-top: 90px;
  }

  &__news {
    margin-bottom: 30px;

    @include mixins.mq(md) {
      margin-bottom: 38px;
    }

    @include mixins.mq(lg) {
      margin-bottom: 51px;
    }

    @include mixins.mq(xl) {
      margin-bottom: 65px;
    }

    @include mixins.mq(xxl) {
      margin-bottom: 97px;
    }

    @include mixins.mq(k2) {
      margin-bottom: 127px;
    }
  }

  &__objects-wr {
    padding-inline: 28px;
    margin-bottom: 18px;

    @include mixins.mq(md) {
      margin-bottom: 38px;
    }

    @include mixins.mq(lg) {
      margin-bottom: 51px;
    }

    @include mixins.mq(xl) {
      margin-bottom: 65px;
    }

    @include mixins.mq(xxl) {
      margin-bottom: 97px;
    }

    @include mixins.mq(k2) {
      margin-bottom: 127px;
    }
  }

  &__map {
    margin-bottom: 16px;

    @include mixins.mq(md) {
      margin-bottom: 67px;
    }

    @include mixins.mq(lg) {
      margin-bottom: 75px;
    }

    @include mixins.mq(xl) {
      margin-bottom: 115px;
    }

    @include mixins.mq(xxl) {
      margin-bottom: 212px;
    }

    @include mixins.mq(k2) {
      margin-bottom: 309px;
    }
  }

  &__fit-wap {
    padding-inline: 28px;
    margin-bottom: 16px;

    @include mixins.mq(sm) {
      padding-inline: 40px;
    }
  }

  &__form-descktop {
    display: none;

    @include mixins.mq(md) {
      display: block;
      padding-left: 60px;
      padding-right: 30px;
      margin-bottom: 90px;
    }

    @include mixins.mq(lg) {
      padding-left: 78px;
      padding-right: 34px;
      margin-bottom: 125px;
    }

    @include mixins.mq(xl) {
      padding-left: 98px;
      padding-right: 39px;
      margin-bottom: 156px;
    }

    @include mixins.mq(xxl) {
      padding-left: 147px;
      padding-right: 44px;
      margin-bottom: 235px;
    }

    @include mixins.mq(k2) {
      padding-left: 196px;
      padding-right: 58px;
      margin-bottom: 312px;
    }
  }

  &__news,
  &__objects-wr,
  __map {

    @include mixins.mq(md) {
      padding-inline: 80px;
    }

    @include mixins.mq(lg) {
      padding-inline: 110px;
    }

    @include mixins.mq(xl) {
      padding-inline: 140px;
    }
  }
}