@import "../mixins";

.swiper {
  width: 310px;
  /* Ширина слайдера */
  max-height: 77px;
  /* Высота слайдера */
  border-radius: 13px;
}

.swiper-slide {
  width: 310px;
  /* Ширина каждого слайда */
  max-height: 77px;
  /* Высота каждого слайда */
}

.swiper-slide__img {
  width: 100%;
  /* Ширина изображения */
  height: 100%;
  /* Высота изображения */
  overflow: hidden;
  /* Скрыть переполнение */
}

.swiper-slide__img img {
  width: 100%;
  /* Масштабировать изображение по ширине */
  height: auto;
  /* Сохранить пропорции изображения */
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  color: #ffffff;
  font-size: 15px;
}

.swiper-pagination {
  margin-top: 20px;
  /* Расстояние между слайдером и пагинацией */
}

.swiper-pagination-bullet {
  width: 4px;
  /* Ширина точки пагинации */
  height: 4px;
  /* Высота точки пагинации */
  margin: 0 1px;
  /* Расстояние между точками (по 2 пикселя) */
  background: #ffffff;
  /* Цвет точки пагинации */
}