@use "../mixins";
@use "../variables";

.swiper-wr {
  $block: &;

  padding-inline: 5px;
  position: relative;


  @include mixins.mq(sm) {
    padding-inline: 10px;
  }

  @include mixins.mq(md) {
    padding-inline: 0;
  }
}


.swiper {
  width: 100%;
  height: 80px;
  border-radius: 13px;

  position: relative;

  box-shadow: 0px 5px 12px 2px #77C5FD;

  @include mixins.mq(sm) {
    height: 115px;
    border-radius: 19px;
  }

  @include mixins.mq(md) {
    height: 178px;
    border-radius: 30px;
  }

  @include mixins.mq(lg) {
    height: 238px;
    border-radius: 40px;
  }

  @include mixins.mq(xl) {
    height: 297px;
    border-radius: 50px;
  }

  @include mixins.mq(xxl) {
    height: 445px;
    border-radius: 75px;
  }

  @include mixins.mq(k2) {
    height: 594px;
    border-radius: 99px;
  }


}


.swiper-slide__img {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::before {
    content: "";
    border-radius: 13px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(32, 122, 224, 0.8));

    @include mixins.mq(sm) {
      border-radius: 19px;
    }

    @include mixins.mq(md) {
      border-radius: 29px;
    }

    @include mixins.mq(lg) {
      border-radius: 39px;
    }

    @include mixins.mq(xl) {
      border-radius: 49px;
    }

    @include mixins.mq(xxl) {
      border-radius: 73px;
    }

    @include mixins.mq(k2) {
      border-radius: 98px;
    }
  }
}

.swiper-slide__img img {
  width: 100%;
  height: auto;
}

.swiper .swiper-button-prev {
  @include mixins.mq(xl) {
    padding-left: 28px;
  }

  @include mixins.mq(xxl) {
    padding-left: 43px;
  }

  @include mixins.mq(k2) {
    padding-left: 57px;
  }
}

.swiper .swiper-button-next {
  @include mixins.mq(xl) {
    padding-right: 28px;
  }

  @include mixins.mq(xxl) {
    padding-right: 43px;
  }

  @include mixins.mq(k2) {
    padding-right: 57px;
  }
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  display: none;

  @include mixins.mq(md) {
    display: block;
    color: #ffffff;
    font-size: 15px;
  }

  @include mixins.mq(xl) {
    font-size: 23px;
  }

  @include mixins.mq(xxl) {
    font-size: 36px;
  }

  @include mixins.mq(k2) {
    font-size: 47px;
  }
}

.swiper-pagination {
  bottom: -30px !important;

  @include mixins.mq(md) {
    bottom: -14px !important;
  }

  @include mixins.mq(lg) {
    bottom: -20px !important;
  }

  @include mixins.mq(xxl) {
    bottom: -30px !important;
  }

  @include mixins.mq(k2) {
    bottom: -40px !important;
  }
}



.swiper-wr .swiper-pagination-bullet {
  background-color: #648194;
  height: 4px;
  width: 4px;
  margin: 0 3px !important;

  @include mixins.mq(md) {
    height: 8px;
    width: 8px;
  }

  @include mixins.mq(lg) {
    height: 11px;
    width: 11px;
    margin: 0 5px !important;
  }

  @include mixins.mq(xxl) {
    height: 20px;
    width: 20px;
    margin: 0 9px !important;
  }

  @include mixins.mq(k2) {
    height: 27px;
    width: 27px;
    margin: 0 12px !important;
  }
}

.swiper-wr .swiper-pagination-bullet-active {
  background-color: #5A88FE;
}

.swiper-slide__info {
  position: absolute;
  z-index: 10;
  color: #ffffff;
  padding-inline: 11px;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: variables.$font-family-primary;

  @include mixins.mq(md) {
    padding-inline: 22px;
    bottom: 20px;
  }

  @include mixins.mq(xl) {
    padding-inline: 37px;
    bottom: 30px;
  }

  @include mixins.mq(xxl) {
    padding-inline: 56px;
    bottom: 45px;
  }

  @include mixins.mq(k2) {
    padding-inline: 74px;
    bottom: 60px;
  }
}

.swiper-slide__h4 {
  font-size: 9px;

  @include mixins.mq(md) {
    font-size: 21px;
  }

  @include mixins.mq(lg) {
    font-size: 28px;
  }

  @include mixins.mq(xl) {
    font-size: 35px;
  }

  @include mixins.mq(xxl) {
    font-size: 53px;
  }

  @include mixins.mq(k2) {
    font-size: 70px;
  }
}

.swiper-slide__description {
  font-size: 8px;

  @include mixins.mq(lg) {
    font-size: 25px;
  }


  @include mixins.mq(xl) {
    font-size: 31px;
  }

  @include mixins.mq(xxl) {
    font-size: 47px;
  }

  @include mixins.mq(k2) {
    font-size: 64px;
  }
}