@use "../mixins";
@use "../variables";


.text {
  $block: &;
  
  font-family: variables.$font-family-primary;
  font-weight: 600;
  font-size: 8px;
  color: #000000;

  @include mixins.mq(sm) {
    font-size: 12px;
  }

  @include mixins.mq(md) {
    font-size: 9px;
  }

  @include mixins.mq(lg) {
    font-size: 11px;
  }

  @include mixins.mq(xl) {
    font-size: 14px;
  }

  @include mixins.mq(xxl) {
    font-size: 20px;
  }

  @include mixins.mq(k2) {
    font-size: 27px;
  }
}