@use "mixins";
@use "variables";

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: variables.$color-base;
  padding-top: 60px;


  @include mixins.mq(sm) {
    padding-top: 89px;
  }

  @include mixins.mq(md) {
    padding-top: 75px;
  }

  @include mixins.mq(lg) {
    padding-top: 100px;
  }

  @include mixins.mq(xl) {
    padding-top: 125px;
  }

  @include mixins.mq(xxl) {
    padding-top: 187px;
  }

  @include mixins.mq(k2) {
    padding-top: 250px;
  }

}